.dashboard-container {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 30px;
}

.dashboard-header h1 {
  font-size: 2em;
  margin: 0;
}

.dashboard-container h2{
  font-size: 1.6em;
  margin-top: 30px;
  margin-bottom: -10px;
  margin-left: 10px;
}

.dashboard-header p {
  font-size: 1em;
  color: #333;
}

.dropdown-container {
  display: flex; /* Use flexbox to arrange items horizontally */
  justify-content: center; /* Center the dropdowns horizontally */
  gap: 60px; /* Optional: add space between dropdowns */
  margin-top: 20px;
}

.file-dropdown-container,
.sheet-dropdown-container {
  display: flex;
  flex-direction: column; /* Keep the label above the select box */
  align-items: flex-start;
}

select {
  font-size: 1em;
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Style for the grey container with 4 white square boxes */
.info-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
  margin: 20px 10px;
  background-color: #d3d3d3;
  padding: 20px;
  border-radius: 20px;
}

.summary-box {
  width: 100%;
  min-height: 200px;  
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  overflow: auto; 
}

.summary-box .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.summary-box .change-slot-button {
  padding: 5px 15px;
  background-color: #C4D600;
  border: none;
  color: white;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
}

.summary-box .change-slot-button:hover {
  background-color: #A4C100;
}

.summary-box .summary-graph{
  padding: 20px;
  margin-left: -30px;
}

.summary-box h3 {
  font-size: 1.2em;
  padding: 10px 15px;
}

.summary-box li {
  font-size: 1.1em;
  padding: 5px;
  margin: 0px 40px;
}

.summary-box p{
  margin: 0 20px 10px;
}

.summary-box button, .predictions-container button {
  margin: 10px; 
  padding: 10px 20px;
  background-color: #C4D600;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.summary-box button:hover, .predictions-container button:hover {
  background-color: #A4B700;
}
