.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icon-container {
    display: flex;
    align-items: center; /* Aligns the icon and text vertically */
}

h1 {
    font-size: 1.8em;
    padding: 10px;
}

h2 {
    font-size: 1.6em;
    margin-bottom: 20px;
    padding: 10px;
}

.predictions-container {
    padding: 20px;
}

.dropdown-container {
display: flex;
justify-content: center; 
margin-top: 20px;
}

.model-dropdown-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.model-dropdown-container label {
    font-size: 1.1em;
}

select {
    font-size: 1em;
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f9f9f9;
}

/* Flexbox layout for summary & table */
.churn-container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

/* Left: Summary Panel */
.summary-icon {
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 30px; 
    color: #333;  
}

.summary-panel {
    width: 350px;
    padding: 20px;
    margin-top: 60px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.summary-panel h2 {
    font-size: 25px;
    margin-bottom: 10px;
}
.summary-panel p{
    padding-left: 10px;
    font-size: 18px;
}

.summary-panel ul {
    font-size: 16px;
    padding-left: 30px;
}

.summary-item {
    padding: 20px 10px;
}

/* Wrapper for table and search bar */
.table-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  
  /* Search bar container, positioned above the table */
  .search-bar-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  .search-bar {
    padding: 10px;
    margin-bottom: -10px;
    font-size: 1em;
    width: 200px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Table container */
  .table-container {
    flex: 1;
    max-height: 500px;
    overflow-y: auto;
    border-radius: 20px;
    border: 1px solid #ddd;
    position: relative;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }  

/* Ensure table fills its container */
.table-container table {
    width: 100%;
    border-collapse: collapse;
}

/* Sticky Header */
.table-container thead {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 10;
}

.table-container th {
    padding: 15px 10px; /* Increase top & bottom padding */
    font-weight: bold;
    font-size: 18px;
    background-color: #f2f2f2;
}

.table-container td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 16px;
}

.table-container tbody tr:hover {
    background-color: #f5f5f5;
}

.table-container p{
    padding: 20px;
}

.churn-row {
    background-color: #ffd4d4;
}

/* Scroll to top button Styling */
.scroll-button-container {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    width: 100%;
}
  
.scroll-to-top {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #C4D600;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-to-top:hover {
    background-color: #A4B700;
    transform: translateY(-2px);
}

/*Model Info Styling*/
.feature-icon {
    margin-bottom: 10px;
    font-size: 22px; 
    color: #333;  
}

.model-info h2{
    padding: 20px 0px;
    margin: 20px 0px -20px;
}

.model-info h3{
    padding: 10px 0px 20px;
    font-size: 22px;
}

.model-container{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px; 
  margin-top: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Model Evaluation Styling */
.eval-icon {
    margin-bottom: 8px;
    font-size: 30px; 
    color: #333;  
}

.model-eval-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 30px;
}

.model-eval-metric-container {
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    width: 30%; 
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.eval-box {
    background-color: #d4de67;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px; 
    box-sizing: border-box; 
    text-align: center;
    overflow: auto; 
}

/* Styling for confusion matrix table */
.confusion-matrix {
    margin-top: 20px;
    flex: 1; 
    text-align: center;
}

.confusion-matrix img {
    max-width: 100%;
    height: auto;
}
.confusion-matrix p {
    padding: 20px 0px;
}
