.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-size: 1.8em;
  padding: 10px;
}

/* Graph Container */
.graph {
  position: relative;
  margin-bottom: 40px;
}

/* Graph Container */
.graph-container {
  border: 1px solid #ccc;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  margin: 20px;
}

.graph-container h2 {
  font-size: 1.6em;
  margin-bottom: 20px;
}

.graph-container p {
  font-size: 1em;
  margin: -10px 20px 30px;
}

.graph-summary-container{
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  width: 40%
}

.graph-summary-container h3{
  margin-bottom: 20px;
}

.graph-summary-container li{
  margin-left: 20px;
  padding: 5px 0px;
}

.chart {
  width: 100%;
}

.chart h3{
  margin-bottom: 10px;
}

.donut-graph-container h2{
  margin: 20px 10px -30px;
}

.donut-charts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
  gap: 30px;
  padding: 40px;
  border-radius: 20px;
}

.donut-chart {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  overflow: auto; 
}

/* Slot Info Styling */
/* All Slot Graphs Container */
.all-slot-graphs-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 20px;
}

/* Slot Graphs - Side by Side (Slot 1 and Slot 2 in the same row) */
.slot-graphs {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Each Individual Graph */
.slot-graph {
  width: 48%; /* Adjusts the width of each graph */
  padding: 10px;
}

/* Combined Slot Row - Combined Graph and Top 5 List */
.combined-graph {
  width: 100%;
  padding: 10px 0;
}

/* Slot Graph Summary for Top 5 Phone Carriers */
.graph-summary-container {
  width: 48%; /* Adjust width as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

/* List Styling */
.graph-summary-container li {
  margin-bottom: 10px;
  font-size: 16px;
}

/* Feedback Info Styling */
.feedback-graphs-container {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
}

.feedback-compare-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.feedback-compare-container .chart {
  flex: 1;
}
