.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-size: 1.8em;
    padding: 10px;
}

h2 {
    font-size: 1.6em;
    margin-bottom: 20px;
    padding: 10px;
}

.predictions-container {
    padding: 20px;
}

.dropdown-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

/* Flexbox layout for summary & table */
.content-container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

/* Left: Summary Panel */
.summary-panel {
    width: 300px; /* Fixed width */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.summary-panel h2 {
    margin-bottom: 10px;
}
.summary-panel p{
    padding-left: 10px;
}

.summary-panel ul {
    padding-left: 30px;
}

/* Right: Scrollable Table */
.table-container {
    flex: 1; /* Makes the table take remaining space */
    max-height: 400px;
    overflow-y: auto;
    border-radius: 10px;
    border: 1px solid #ddd;
    position: relative;
}

/* Ensure table fills its container */
.table-container table {
    width: 100%;
    border-collapse: collapse;
}

/* Sticky Header */
.table-container thead {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 10;
}

.table-container th {
    padding: 15px 10px; /* Increase top & bottom padding */
    font-weight: bold;
    background-color: #f2f2f2;
}

.table-container td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.table-container tbody tr:hover {
    background-color: #f5f5f5;
}

.table-container p{
    padding: 20px;
}

.churn-row {
    background-color: #ffd4d4;
}